<!DOCTYPE html>
<html>
<head>
	<title>ABC</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
<body>
<div class="form-group">
	<form method="POST" enctype="multipart/form-data" class=".form-control">
		{{form.image}}
	<input type="Submit" value='Classify' class=".btn-primary">
	</form>
</div>
	</body>
</div>
</html>